@font-face {
    font-family: Iran;
    src: local('Iran'), local('Iran-Sans'), local('Iran Sans'), local('IranSans'),
    local('IRAN'), local('IRAN-Sans'), local('IRAN Sans'), local('IRANSans'),
    url('@{fontPath}/iran.eot');
    src: url('@{fontPath}/iran.eot?#iefix') format('embedded-opentype'),
    url('@{fontPath}/iran.woff2') format('woff2'),
    url('@{fontPath}/iran.woff') format('woff'),
    url('@{fontPath}/iran.ttf') format('truetype'),
    url('@{fontPath}/iran.svg#iran') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: Iran;
    src: local('IranBold'), local('IranSans-Bold'), local('Iran Sans Bold'), local('Iransans-Bold'),
    local('IRANBold'), local('IRANSans-Bold'), local('IRAN Sans Bold'), local('IRAN-Bold'),
    url('@{fontPath}/iran-bold.eot');
    src: url('@{fontPath}/iran-bold.eot?#iefix') format('embedded-opentype'),
    url('@{fontPath}/iran-bold.woff2') format('woff2'),
    url('@{fontPath}/iran-bold.woff') format('woff'),
    url('@{fontPath}/iran-bold.ttf') format('truetype'),
    url('@{fontPath}/iran-bold.svg#iran-bold') format('svg');
    font-weight: bold;
}